*,*::before, *::after {
    margin:0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    
}

.title{
    margin-left: 75%;
}
.container {
    box-sizing: border-box; 
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    background-color: white;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
} 

.content-box {
    display: flex;
    margin: 30px 30px;
    padding: 10px;
    box-sizing: border-box; 
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    background-color: rgb(238, 231, 231);


}
.toolbar {
    display: flex;
    justify-content: center;
    background-color: rgb(104, 207, 248) ;
    color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}
.mysidenav {
    background-color: rgb(72, 137, 163) ;

}

@page {
    margin: 1in;
}
@media print {
    body{
        background: none;
    }
    i{
        display: none;
    }
    .container{
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }
    .mysidenav {
        display: none;
    }
    .toolbar {
        display: none;
    }
}
.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: none;
}
.backdrop--open{
    display: block;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal--open {
    display: block;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(72, 137, 163) ;
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color:white;
    text-decoration: none;
    cursor: pointer;
  }